<div class="container">

  <section>
    <mat-card>
      <mat-card>
        <mat-card-title>لیست انتظار</mat-card-title>
        <mat-card-subtitle
          style="display: flex; flex-direction: row; justify-content: space-between;margin-top: 0.2rem;">
          <p>تعداد افراد در انتظار : {{'15'}} نفر</p>
          <p>
            زمان تقریبی برای هر نفر : {{'15'}} دقیقه
          </p>
        </mat-card-subtitle>
        <!-- <mat-card-actions align="end"> -->
        <!-- <button mat-button>Like</button>
          <button mat-button>SHARE</button> -->
        <!-- </mat-card-actions> -->
      </mat-card>
    </mat-card>

  </section>

</div>
